.root-pane {
    -fx-background-color: #C7EAE4; /* Change this to any color */
}

/* Style the button */
.custom-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10px 20px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

/* Change button color on hover */
.custom-button:hover {
    -fx-background-color: #45A049;
}

#timerButton {
    -fx-font-size: 25px;
    -fx-font-family: "Sitka Text";
    -fx-font-weight: bold;
    -fx-background-color: #EDA29F;
}

#timerButton:hover {
    -fx-font-size: 25px; /* Prevent size shrinking */
    -fx-font-family: "Sitka Text";
    -fx-font-weight: bold;
}